# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# don't show internal documentation in git
docs/sphinx/_build/
docs/internal_documentation 
tests/TEST_PLAN.md

# only for Royal Eijkelkamp
re_scenarios

# packaging artifacts
src/roak_sdk.egg-info/

